<h2 mat-dialog-title style="margin: 0px auto;">Modification le cours</h2>
<mat-dialog-content class="mat-typography">
  
  <form class="example-form" style="display: block;">
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-form-field class="example-full-width" style="width: 500px; border-radius: 50%; display: block; margin: 0 auto;">
  <mat-label>Entrer Nom De theme</mat-label>
  <input type="text" matInput [formControl]="inputFormControl1" [errorStateMatcher]="matcher"
         placeholder="xx-xxx-xxx">
  <mat-hint>Errors appear instantly!</mat-hint>
  @if (inputFormControl1.hasError('required')) {
    <mat-error>Nom De theme <strong>Obligatoire</strong></mat-error>
  }
  
</mat-form-field>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<mat-form-field class="example-full-width" style="width: 500px; border-radius: 50%; display: block; margin: 0 auto;">
  <mat-label>Entrer Niveau De Cours</mat-label>
  <input type="text" matInput [formControl]="inputFormControl2" [errorStateMatcher]="matcher"
         placeholder="xx-xxx-xxx">
  <mat-hint>Errors appear instantly!</mat-hint>
  @if (inputFormControl2.hasError('required')) {
    <mat-error>Niveau De Cours <strong>Obligatoire</strong></mat-error>
  }
  
</mat-form-field>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<mat-form-field style="width: 500px; border-radius: 50%; display: block; margin: 0 auto;">
  <mat-label>Choose a date de debut</mat-label>
  <input matInput [matDatepicker]="datededebut" [formControl]="inputFormControl3" [errorStateMatcher]="matcher">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="datededebut"></mat-datepicker-toggle>
  <mat-datepicker #datededebut></mat-datepicker>
  @if (inputFormControl3.hasError('required')) {
    <mat-error>date de debut <strong>Obligatoire</strong></mat-error>
  }
</mat-form-field>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<mat-form-field style="width: 500px; border-radius: 50%; display: block; margin: 0 auto;">
  <mat-label>Choose a date de fin</mat-label>
  <input matInput [matDatepicker]="datedefin" [formControl]="inputFormControl4" [errorStateMatcher]="matcher"> 
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="datedefin"></mat-datepicker-toggle>
  <mat-datepicker #datedefin></mat-datepicker>
  @if (inputFormControl4.hasError('required')) {
    <mat-error>date de fin <strong>Obligatoire</strong></mat-error>
  }
</mat-form-field>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->     
<br>          
<h3>Programme :</h3>      
<div class="card flex justify-content-center" >
  <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="application/pdf" maxFileSize="1000000000">
      <ng-template pTemplate="toolbar">
          <div class="py-3">Upload 3 Files</div>
      </ng-template>
      <ng-template let-file pTemplate="file">
          <div>Custom UI to display a file</div>
      </ng-template>
      <ng-template pTemplate="content" let-files>
          <div>Additional content.</div>
      </ng-template>
  </p-fileUpload>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
          
  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
