
        <main id="main-doc">
          <nav id="nav-bar">
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <ul id="nav-ul">
              <a routerLink="/" class="nav-point"><li class="nav-tab" >Home</li></a>
                         <a routerLink="/Participant/MesFormation/Cartes" class="nav-point" *ngIf="this.user=='Participant' "><li class="nav-tab">Mes Formation</li></a>
                         <a routerLink="/Formateur/Mes&Modules" class="nav-point" *ngIf="this.user=='Formateur' "><li class="nav-tab">Mes Modules</li></a>
                         <a routerLink="/EduXcellence/Propos" class="nav-point" ><li class="nav-tab">A propos</li></a>
                         <a routerLink="/EduXcellence/Contact" class="nav-point" ><li class="nav-tab">Contact</li></a>
                         <a routerLink="" class="nav-point"><li class="nav-tab" *ngIf="this.user=='Participant' ">FAQ</li></a>
                         <a routerLink="/EduXcellence/Contact" class="nav-point" *ngIf="this.user!='Participant' || this.user!='Formateur'" (click)="SeConnecter()"><li class="nav-tab">Se Connecter</li></a>
                         <a routerLink="/EduXcellence/Contact" class="nav-point" *ngIf="this.user=='Participant' || this.user=='Formateur' " (click)="SeDeconnecter()"><li class="nav-tab">Se Deconnecter</li></a>
            </ul>
          </nav>
        </main>
      