
<div class="home-container">
    <span class="home-text">Thème de formation: </span>
    <div class="home-container1">
      <span class="home-text01">Date de fin: </span>
      <span class="home-text02">Lien dévaluation: </span>
      <span class="home-text03">Text</span>
      <span class="home-text04">Text</span>
      <span class="home-text05">Text</span>
      <span class="home-text06">Date de début: </span>
      <span class="home-text07">Text</span>
      <button type="button" class="home-button button" (click)="ajouterEvaluation()">
        Créer une nouvelle évaluation
      </button>
      <button type="button" class="home-button1 button" (click)="ajouterChapitre()">
        Insérer un nouveau chapitre
      </button>
      <img src="/assets/freelancer-400h.gif" alt="image" class="home-image" />
      <span class="home-text08">Date d&apos;évaluation: </span>
    </div>
    <div class="home-container2">
      <div class="home-container3"><span>Text</span></div>
    </div>
  </div>
  